<div *ngIf="control.invalid && (control.dirty || control.touched)">
  <small *ngIf="control.errors['required']" id="required" class="text-danger">El campo {{name}} es requerido.</small>
  <small *ngIf="control.errors['minlength']" id="minlength" class="text-danger">El campo {{name}} necesita al menos {{control.errors['minlength'].requiredLength}} caracteres.</small>
  <small *ngIf="control.errors['maxlength']" id="maxlength" class="text-danger">El campo {{name}} no de contener más de {{control.errors['maxlength'].requiredLength}} caracteres.</small>
  <small *ngIf="control.errors['email']" id="email" class="text-danger">El campo {{name}} no es un correo válido.</small>
  <small *ngIf="control.errors['min']" id="min" class="text-danger">El campo {{name}} es menor a {{control.errors['min'].min}}.</small>
  <small *ngIf="control.errors['max']" id="max" class="text-danger">El campo {{name}} es mayor a {{control.errors['max'].max}}.</small>
  <small *ngIf="control.errors['pattern']" id="pattern" class="text-danger">El campo {{name}} tiene un formato incorrecto.</small>
</div>
