<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/main/home">Clase 5 - Usuario: {{name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/main/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
      <form class="d-flex" (ngSubmit)="buscar()">
        <input class="form-control me-2" [(ngModel)]="query" name="query" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
